@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
  font-family: 'Didot', 'Quicksand' Monserrat;
}

h1 {
  font-family: 'Didot';
}

h2 {
  font-family: 'Didot';
}

h3 {
  font-family: 'Didot';
}
h4 {
  font-family: 'Quicksand';
}
h5 {
  font-family: 'Quicksand';
}
h6 {
  font-family: 'Quicksand';
}
li {
  font-family: 'Quicksand';
}
